@import "colors";

%action-button {
  display: block;
  border: none;
  background: $neutral-blue; /* Old browsers */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$neutral-blue', endColorstr='#00dbcb',GradientType=1 ); /* IE6-9 */
  cursor: pointer;
  color: white;
  // white-space: nowrap;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  min-width: 210px;
  margin: auto;
  border-radius: 50px;
  padding: 12px 15px 12px 15px;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $neutral-yellow; /* Old browsers */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#019E91', endColorstr='#00BFAF',GradientType=1 ); /* IE6-9 */
  }
  &:focus {
    outline: dotted $neutral-grey 1px !important;
  }
  @media screen and (max-width: 420px) {
    font-size: 0.85rem;
  }
}

%secondary-action-button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  color: $dark-blue;
  text-decoration: underline $neutral-yellow;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  width: 210px;
  margin: auto;
  border-radius: 50px;
  padding: 12px 15px 12px 15px;
  &:hover {
    color: $neutral-blue;
  }
  &:focus {
    outline: dotted $neutral-grey 1px !important;
    border: none;
    background: none;
    color: $neutral-blue;
    box-shadow: none !important;
  }
}

%content-button {
  cursor: pointer;
  display: block;
  background-color: white;
  border-radius: 10px;
  height: 200px;
  width: 190px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  transition: all 0.5s;
  margin-top: 20px;
  img {
    opacity: 0.9;
    transition: all 0.5s;
  }
  p {
    color: $dark-grey;
    text-align: center;
    font-weight: 700;
  }
  &:hover {
    display: block;
    background-color: $neutral-yellow;
    color: $neutral-blue;
    border-radius: 10px;
    height: 200px;
    width: 190px;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    text-decoration: none;
    img {
      opacity: 0.3;
    }
  }
}