.products-department {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 600px !important;
  height: fit-content;
  margin: 0;

  @media (min-width: 2560px) {
    max-width: 900px !important;
  }

  @media (max-width: 2560px) and (min-width: 1920px) {
    max-width: 750px !important;
  }

  @media (max-width: 575px) {
    width: 380px;
    gap: 0;
    margin-top: 15px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    margin-bottom: 2rem;
    align-items: flex-end;
  }

  &__finish {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 19, 18, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
  }

  &__product-title {
    background-color: #ffce00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 0;
  }
}
