@import 'colors';

%title-zone {
  background: #f9f9f9; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #f9f9f9 0%,
    #ffffff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #f9f9f9 0%,
    #ffffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #f9f9f9 0%,
    #ffffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%content-zone {
  background-color: $neutral-blue;
  color: white;
}

%third-zone {
  background-color: white;
}