<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Ergogames</title>
  </head>
  <body>
    <noscript>
      <strong>Nous sommes désolé mais le site des Ergogames ne peut pas vous donner une expérience satisfaisante sans JavaScript. Merci de l'activer pour continuer.</strong>
    </noscript>
    <form name="form-contact" netlify netlify-honeypot="bot-field" hidden>
      <input type="text" name="email">
      <input type="email" name="_replyto">
      <textarea name="message"></textarea>
    </form>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
