@import '../../../assets/scss/colors';
@import '../../../assets/scss/buttons';
@import '../../../assets/scss/zones';

.introduction {
  padding: 0 0 2rem 0;

  &__title {
    padding: 1rem 0;
    color: $dark-grey;
    font-size: 1.1em;
    margin: 0;
    font-weight: normal;
  }
}

.section {
  padding-bottom: 2rem;
  color: $dark-grey;

  &__title {
    padding: 2rem 0;
    font-weight: bold;
    color: $dark-grey;
    font-size: 1.1em;
    margin: 0;
  }

  &__highlight {
    background-color: whitesmoke;
    padding: 1rem;
  }

  &__list {
    padding-left: 2rem;
    margin: 0;

    li {
      margin-top: 0.5rem;
    }
  }
}

.practice-container {
  background-color: #cdcdcd;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  box-sizing: border-box;
  position: relative;

  &__illustration {
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

.valid-icon {
  color: green;
  margin: 0 1rem;
}

.invalid-icon {
  color: red;
  margin: 0 1rem;
}

.game-explanation {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.note {
  padding: 1rem;
  margin: 0 0 2rem;
  font-style: italic;
  font-size: 90%;
  background-color: whitesmoke;
  color: $dark-grey;
}

.img-example {
  padding: 0 !important;

  img {
    max-width: 100%;
  }
}
